*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
span{
    display: block;
    font-size: 28px;
}
body  {
    font-family: 'Arial' , sans-serif;
}
nav {
    background: #000;

    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.1rem;
}
nav .mainMenu li a:hover {
    background: rgb(255,94,0);
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}
@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

body {
 

    overflow-x:hidden!important;
  }
  
  
  .bg-screen
  {
    position:absolute;
    z-index:0;
    overflow:hidden;
  }
  
  
  .content-front:nth-child(2):after {
      content: '';
  }
  
  
  .bg-header {
      background-color: rgb(16 255 0 / 20%);
      padding: 12px 20px;
      box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  }
  a:hover{
    text-decoration:none;
    color:#05C2DE;
    text-shadow: 2px 1px 1px white;
    transition:1s;
  }
  
  .welcome-board-name
  {
        font-family: 'Vast Shadow', cursive;
      color: #ffffff;
      font-size: 2.3em;
      text-shadow: 1px 2px 3px #03802a;
      
  }
  
  .content-inner {
    width: 100%;
    color: #fff;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .fl-wrap {
    float: left;
    width: 100%;
    position: relative;
  }
  
  .content-inner .content-front,
  .content-inner .content-back {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-front {
    background: #292929;
    position: relative;
  }
  
  .content-inner > * {
    backface-visibility: hidden;
    transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .cf-inner:before,
  .cf-inner:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
  }
  
  .cf-inner:before {
    top: 20px;
    left: 20px;
    border-left: 1px solid;
    border-top: 1px solid;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-origin: content-box;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 3;
  }
  
  .content-inner .cf-inner .inner {
    align-items: stretch;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transform: translateZ(95px) scale(0.81);
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
  .cf-inner:after {
    bottom: 20px;
    right: 20px;
    border-right: 1px solid;
    border-bottom: 1px solid;
  }
  
  .content-inner .cf-inner .inner h2 {
    position: relative;
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 20px;
  }
  
  .content-inner .cf-inner .inner h2:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 20px;
    height: 2px;
    margin-left: -10px;
  }
  
  .content-inner .content-front li {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin: 0 4px;
  }
  .cf-inner:after {
    bottom: 20px;
    right: 20px;
    border-right: 1px solid;
    border-bottom: 1px solid;
  }
  
  .content-inner .content-front,
  .content-inner .content-back {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-inner .cf-inner .inner {
    align-items: stretch;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transform: translateZ(95px) scale(0.81);
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
  .content-inner:hover .content-front {
    transform: rotateY(-180deg);
  }
  
  .content-inner:hover .content-back {
    transform: rotateY(0deg);
  }
  
  .content-inner .content-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: rotateY(180deg);
    background: #292929;
    background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
  }
  
  .content-inner .cf-inner {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 100%;
    padding: 150px 20px;
  }
  
  .serv-price-wrap {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px 30px;
    margin-top: 14px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .content-inner .cf-inner .inner h2:before {
    background: #00bcd4;
  }
  
  inner:before,
  .cf-inner:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
  }
  
  .cf-inner:before,
  .cf-inner:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 250px;
    border-color: rgba(0, 188, 212, 0.33);
    z-index: 10;
  }
  
  .dec-icon {
    padding-bottom: 40px;
  }
  
  .content-back .cf-inner:before {
    top: 125px;
  }
  
  .content-back .cf-inner:after {
    bottom: 125px;
  }
  
  
  
  
  /* custom-cursor */
  /* =============================================================================================== */
  .custom-cursor {
    width: 3rem;
    height: 3rem;
    border: 1px solid hsla(0, 0%, 100%, .7);
    border-radius: 100%;
  
    background: hsla(0, 0%, 80%, .2);
    position: absolute;
    z-index: 5;
    transform: translate(-50%, -50%);
  
    pointer-events: none;
  }
  
  
  /* buttons */
  /* =============================================================================================== */
  /* btn-circle */
  /* ---------------------------------------- */
  .btn-circle {
    width: 4rem;
    height: 4rem;
    border-radius: 100rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* btn-pTSecond */
  /* ---------------------------------------- */
  .btn-pTSecond {
    margin-top: 2rem;
    border:  1px solid red;
  
    transform: scale(.8);
    transform-origin: left center;
    transition: .3s;
  }
  
  .btn-pTSecond:hover,
  .btn-pTSecond:focus {
    transform: scale(1);
  }
  
  .btn-pTSecond::before {
    content: '';
  
    width: 100%;
    height: 100%;
    border-radius: inherit;
  
    position: absolute;
    background: var(--gradient-2);
  
    transform: scale(0);
    transition: .6s;
  }
  



    
  
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);




.footer-distributed{
	background:rgb(19, 18, 18);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.call{
  color: aliceblue;
  text-decoration: none;
}


/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}





/*whatsapp */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}