* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
span{
    display: block;
    font-size: 28px;
}
body  {
    font-family: 'Arial' , sans-serif;
}
nav {
    background: #000;

    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.1rem;
}
nav .mainMenu li a:hover {
    background:black;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgba(255, 0, 179, 0.63);}
.fa-whatsapp:hover {color: rgb(0, 255, 85);}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}
@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: whitesmoke;
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}















































body {
	margin: 0;
	padding: 0;
  overflow-x: hidden;
  }
  
  /* slide 
  
  .slide {
	position: relative;
	margin: 0;
	padding: 0;
  }
  .slide .item {
	position: relative;
  
	height: 600px!important;
    z-index: 1;
  }
  .slide .item::before {
	display: block;
	padding-top: 39%;
	content: "";
  }
  .slide .item .image {
	position: relative;
	overflow: hidden;
  }
  .slide .item img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 100%;
  }
  .slide > .slick-list,
  .slide > .slick-list > .slick-track,
  .slide > .slick-list > .slick-track > .slick-slide > div {
	position: relative;
	height: 100%;
  }
  .slide-animation{
	  animation: fadezoom 8s 0s forwards;
  }
  @keyframes fadezoom {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(1.2);
	}
  }


*/
@media(max-width: 800px)
{
  .carousel-item img{
    height: 540px; 
  }
}

.carousel-item img{
	height: 598px!important;
  
	
}
.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: merienda;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins;
}
.carousel-caption a {
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}


.work{
  text-align: center;
  font-size: 30px;
  margin-top: 60px;
}

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    grid-gap: 0;
  }
  
  .item {
    width: 100%;
    overflow: hidden;
    background: #000;
  }
  
  .container img {
    opacity: 0.6;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .container img:hover {
    opacity: 1;
    transform: scale(1.03);
  }


  /*service*/


  
.section-header{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 15px;


}

.section-header p{
  font-size:18px;
}


.single-service{
  border: 1px solid black;
  text-align: center;
  background: #fff;
}

.service-bg{
  height:200px;
  position:relative;
}

.service-bg-1{
  background: url("serv/img28.JPG");
  -webkit-backgropund-size:cover;
  background-size: cover;
  background-position: center center;
}

.service-bg-2{
  background: url("serv/img33.JPG");
  -webkit-backgropund-size:cover;
  background-size: cover;
  background-position: center;
}


.service-bg-3{
  background: url("serv/img9.jpg");
  -webkit-backgropund-size:cover;
  background-size: cover;
  background-position: center center;
}


.service-bg-4{
  background: url("serv/img15.jpg");
  -webkit-backgropund-size:cover;
  background-size: cover;
  background-position: center center;
}


.service-bg-5{
  background: url("serv/img1.jpg");
  -webkit-backgropund-size:cover;
  background-size: cover;
  background-position: center center;
}


.service-bg-6{
  background: url("serv/img26.jpg");
  -webkit-backgropund-size:cover;
  background-size: cover;
  background-position: center center;
}

.service-bg h2{
  color: #fff;
  background:tomato;
  border: 1px solid tomato;
  font-size: 17px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 15px;
  position: absolute;
  left:8%;
  width:84%;
  margin:0;
  bottom:-25px;
  border-radius: 50px;
  letter-spacing: 2px;

}

.single-service:hover  .service-bg  h2{

  background:#fff;
  transition: .9s;
  color:tomato;
}

.service-text{
  padding: 50px 30px 20px;
  font-size: 15px;
}


.service-text p:last-child{
  margin:0;
  line-height: 1.8;
}


@media only screen and (max-width:767px)
{
  .single-service{
    margin-top: 30px;
  
  }
  .service-text p{
    font-size: 15px;
  }
  .service-bg h2{
    font-size: 15px;
  }
}








hr{
background-color: black;
border-width: 2px;
margin-top: 1px;
margin-bottom: 1px;

}
.pall{
  text-align: center;
  font-size: 18px;
}


/*PARALLEX*/ 


  /* Hides the horizontal overflow */
  body {
    overflow-x: hidden;
    }
    /* Resize in Mobile View */
    @media (min-width: 0) and (max-width: 767px) {
    p,
    .body-text {
      font-size: 10px !important;
    }
    .down-arrow {
      font-size: 20px !important;
    }
    }
    /* Resize in Tablet View */
    @media (min-width: 768px) and (max-width: 991px) {
    p,
    .body-text {
      font-size: 15px !important;
    }
    .down-arrow {
      font-size: 30px !important;
    }
    }
    /* Line Separators CSS */
    .line-separator {
    display: block;
    width: 50%;
    height: 1px;
    text-align: center;
    margin: 20px auto;
    border-bottom: 1px solid grey;
    }
    /* First Wrap Background */
    .first-wrap {
    height: 100%;
    width: 100vw;
    background: #ffffff url("gallery/img33.JPG") no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    }
    /* Second Wrap Background */
    .second-wrap {
    height: 100%;
    width: 100vw;
    background: #ffffff url("slide/img11.jpg") no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    }
    /* Third Wrap Background */
    .third-wrap {
    height: 100%;
    width: 100vw;
    background: #ffffff url("img2/img3.jpg") no-repeat fixed;
    background-size: cover;
    background-position: 50% 50%;
    }
    .first-div {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    }
    .first-div .first-inner-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 20px;
    }
    .first-div .first-inner-div .down-arrow {
    font-size: 40px;
    color: #fff;
    }
    .first-div .first-inner-div p {
    padding: 20px;
    letter-spacing: 0.45em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.3);
    }
    .second-div {
    display: table;
    height: 50vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    }
    .second-div p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.45em;
    text-transform: uppercase;
    }
    .third-div {
    display: table;
    height: 50vh;
    width: 100vw;
    background-color: transparent;
    }
    .fourth-div {
    display: table;
    height: 50vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    }
    .fourth-div p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.45em;
    text-transform: uppercase;
    }
    .fifth-div {
    display: table;
    height: 50vh;
    width: 100vw;
    background-color: transparent;
    }
    #back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    }
    #back-to-top:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    }
    #back-to-top.show {
    opacity: 1;
    }
    /* NEW UPDATE */
    .new-update {
    padding: 20px;
    text-align: center;
    }
    
  
  



    
  
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);




.footer-distributed{
	background:rgb(19, 18, 18);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.call{
  color: aliceblue;
  text-decoration: none;
}


/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}





/*whatsapp */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}